*{
    outline: none;
}
body{
    background-color: #1b1b33;
}
header{
    width: 100%;
    height: 50px;
    /* border: 2px solid black; */
    clear: both;
    margin-top: 20px;
}
header h3{
    color: white;
    margin-left: 5px;
    float: left;
    font-family: 'Roboto', sans-serif;
}
header button img{
    width: 50px;
    height: 50px;
}
header button{
    float: right;
    background-color: none;
    border: none;
}
.slowed{
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    margin-top: 10px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    /* border-radius: 9px; */
}
.slowed h1{
    text-align: center;
    width: 140px;
    height: 50px;
    margin-top: 20%;
    margin: auto;
    font-family: 'Comfortaa', cursive;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
}
.slowed button{
    width: 140px;
    height: 50px;
    margin: auto;
    background: none;
    border: none;
}
.phr{
    background-color: #e84393;
    border: none;
    height: 2px;
}
.types{
    width: 80%;
    height: 140px;
}
.types .edart img{
    width: 100px;
    height: 100px;
    border: 2px solid gray;
}
.types .edart{
    width: 105px;
    height: 140px;
    float: left;
}
.types .edart h4{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    width: 50px;
    color: white;
}
.types .noart{
    width: 105px;
    height: 140px;
    float: right;
}
.types .noart img{
    width: 100px;
    height: 100px;
    border: 2px solid gray;
}
.types .noart h4{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    width: 50px;
    color: white;
}
.artists{
    width: 100%;
    height: 140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.artists .artist1{
    width: 105px;
    height: 140px;
}
.artists .artist2{
    width: 105px;
    height: 140px;
}
.artists .artist3{
    width: 105px;
    height: 140px;
}
.artist1 img, .artist2 img, .artist3 img{
    width: 100px;
    height: 100px;
    border: 2px solid gray;
}
.artist1 h4, .artist2 h4 , .artist3 h4{
    margin: 0;
    color: #9d9db6;
    text-shadow: 2px 2px black;
    font-family: 'Poppins', sans-serif;
}
footer{
    width: 100%;
    height: 50px;
    background-color: #0c0c1b;
    display: flex;
}
footer article{
    text-align: center;
    margin: auto;

}
footer article a{
    font-size: larger;
    color: #e74c3c;
    font-family: 'Comfortaa', cursive;
}